@model TankStore.Models.Tank

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Add", "Admin", FormMethod.Post)) {
    <div>
        <label>
            Tank: 
            <input type="text" name="tankName" id="tankName" autocomplete="off"/>
        </label>
    </div>
    <div>
        <label>
            Country:
            <input type="text" name="tankCountry" id="tankCountry" autocomplete="off"/>
        </label>
    </div>
    <div>
        <label>
            Cost:
            <input type="text" name="tankCost" id="tankCost" autocomplete="off" />
        </label>
    </div>
    <div>
        <label>
            Available:
            <input type="text" name="tankCount" id="tankCount" autocomplete="off" />
        </label>
    </div>
    <br />
    <div><input type="submit" class="button" value="Add" /></div>
}
<div><input type="button" class="button" value="Cancel" id="btnCancel" /></div>

@Scripts.Render("~/Scripts/MyScripts/AdminPostRequests.js")
